* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header, 
.library {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  background-color: rgb(189, 229, 243);
  padding: 20px;
  font-weight: bold;
}

.library {
  margin: 10px;
  padding: 20px;
}

#add-book {
  color: rgb(27, 27, 27);
  background-color: rgb(242, 247, 252);
  border-radius: 16px;
  padding: 16px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border: 0px;
}

#add-book:hover {
  filter: brightness(90%)
}

/* Modal Section */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(242, 247, 252);
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header #close-modal {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 10px;
}

.checkbox-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.checkbox-container > label {
  padding-right: 24px;
}

#is-read {
  height: 18px;
  width: 18px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
  opacity: 0;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

#submit {
  background-color: rgb(189, 229, 243);
  color: rgb(27, 27, 27);
  border-radius: 16px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 16px 24px;
  border: 0px;
}

input {
  border-radius: 4px;
  height: 24px;
  border: 0.5px solid black;
}

/* Library - grid section */

